@using Client.Pages.Gaming.Entities
@code {
    [Parameter, EditorRequired]
    public required string CurrentPlayerId { get; set; }
    
    [Parameter, EditorRequired]
    public required IEnumerable<Player> PlayerList { get; set; }
}

<div class="PlayerRankList">
    @foreach (var (player, index) in PlayerList.OrderBy(p=>p.GetTotalMoney).Select((item, index) => (item, index)))
    {
        var isCurrentPlayer = player.Id == CurrentPlayerId;
        var currentPlayerClass = isCurrentPlayer ? "current-player" : "";
        <div class="Player ">
            <div class="PlayerInfo @currentPlayerClass">
                <div class="Rank">
                    <div class="Round">
                        <span class="Number">@(index + 1)</span>
                    </div>
                    <p class="Name">
                        <span>@player.Name</span>
                    </p>
                </div>
                <div class="PlayerMoney">
                    <div class="Icon @player.Role.ToString().ToLower()"></div>
                    <div class="MoneyBox">
                        <p class="Money">@player.Money</p>
                        <p class="TotalMoney">@player.GetTotalMoney</p>
                    </div>
                </div>
                <div class="Status"></div>
            </div>
            <div class="Host_Flag"></div>
        </div>
    }
</div>